* { margin: 0px; padding: 0px; box-sizing: border-box; outline: none; }
html { font-size: calc( (100vw - 300px)/(1920 - 300) * (22 - 14) + 14px); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; }
/* */
#menu { width: 20%; }
#content { width: 80%; }
main { margin-bottom: 5rem; }
div#content-wrapper { width: 90%; margin: 1rem auto; }
header { display: block; }
#site-header { color: grey; }
#site-header > h1 > a { color: inherit; text-decoration: inherit; }
#site-header > h1 > a:hover { text-decoration: underline; }
.clear { clear: both; }
footer { display: block; clear: both; }
/* */
#menu { display: block; float: left; height: 100%; }
#menu ul { list-style: none; }
#menu ul > li > a { color: #767676; display: block; width: 100%; line-height: 1.75em; text-align: left; text-decoration: none; }
#menu > ul > li > a { color: #565656; }
#menu > ul > li > ul > li > a { color: #565656; }
#menu ul > li > a:hover { color: #23527c; }
#menu ul > li > a.active { color: #337ab7; }
#menu ul > li > ul > li { padding-left: 1rem; }
#menu ul > li > ul > li > ul > li { font-size: 0.75rem; }
#content { float: right; height: 100%; }
article a { color: #337ab7; text-decoration: none; }
article a:hover { color: #23527c; text-decoration: underline; }
span > code, span > code.hljs { display: inline; margin: 0; padding: 0px 0.3rem; background: #f8f8f8; font-size: 90%; border-radius: 0.3rem; }
span > code a { color: inherit; text-decoration: underline; }
pre > code { display: block; margin: 0 0 0.5rem; padding: 0.5em; border: 1px solid lightgrey;}
pre > code.hljs {background: inherit;}
pre > code a { color: inherit; text-decoration: underline; }
article > header > h1 { font-size: 2rem; padding-bottom: 0.5rem; }
article > header { padding-top: 0; padding-bottom: 0.1rem; margin-bottom: 1rem; border-bottom: 1px solid #eeeeee; }
section > header a[name] { color: lightgrey; }
section > header a[name]:hover { color: grey; }
section h1 { font-weight: 500; font-size: 1.5rem; margin-top: 3rem; margin-bottom: 0.5rem; }
section h2 { font-weight: 500; font-size: 1.25rem; margin-top: 1rem; margin-bottom: 0.5rem; }
section h3 { font-weight: 500; font-style: italic; font-size: 1rem; margin-top: 1rem; margin-bottom: 0.5rem; }
section p { margin-bottom: 0.5rem; }
section ol, section ul { padding-left: 1rem; margin-top: 0; margin-bottom: 0.5rem; }